[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
pytest = "~=6.0.0"
pytest-xdist = "~=1.34.0"

[requires]
python_version = "3.7"
